:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --primary-dark: #000;
    --primary-color: violet;
    --primary-light: #fff;
    --secondary-light: #d9d9d9;
}

html {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: 'Didot', serif;
    margin: 0;
    /* footer support */
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    flex: 1;
}

.aside {
    flex: 1 0 30%;
    height: 100vh;
    border: 2px solid black;
    position: relative;
    z-index: -1;
}

img.bg {
        width: 100%; 
        height: 100%;
        object-fit: none;
}

.text-bg {
    position: absolute;
    top: 30%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0
}

.logo {
    width: 60px;
    height: 60px;
}

.company-name {
    
}



.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 120px 32px 32px;
}

#nameSet,
#emailPhoneSet,
#passwordSet {
    display:flex;
    gap: 10px;
    border: none;
}

label {
    /* display:block; */
}


hr {
    background-color: var(--secondary-light);
}
#createAccountBtn {
    display:block;
    background-color: var(--primary-color);
    color: var(--primary-light);
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 20px 0;
    padding: 15px 30px;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

#logInText {
    color: var(--primary-color)
}