@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');

:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --primary-dark: #000;
    --primary-color: violet;
    --primary-light: #fff;
    --secondary-light: #d9d9d9;
}

html {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    /* footer support */
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    flex: 1;
}

.aside {
    flex: 1 0 30%;
    height: 100vh;
    border: 2px solid black;
    position: relative;
    z-index: -1;
}


img.bg {
        width: 100%; 
        height: 100%;
        object-fit: none;
}

.text-bg {
    position: absolute;
    top: 30%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0
}

.logo {
    width: 60px;
    height: 60px;
}

.company-name {
    padding-right: 30px;
}

/* TEXT */
.main {
    flex:5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

h2 {
    overflow-wrap: break-word;
}

.input-section {
    box-shadow: 0 5px 5px 4px rgba(255, 255, 255, 0.2);
    padding: 16px;
}

.inputs > fieldset {
    display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 18px;
  border: none;
  margin-bottom: 18px;
}

.inputs label {
    display: block;
}

input.focus {
border: 1px solid blue;
box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

input.error {
border: 1px solid red;
}



/* #nameSet,
#emailPhoneSet,
#passwordSet {
    display:flex;
    gap: 10px;
    border: none;
} */

label {
    /* display:block; */
}


hr {
    background-color: var(--secondary-light);
}
#createAccountBtn {
    display:block;
    background-color: var(--primary-color);
    color: var(--primary-light);
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 20px 0;
    padding: 15px 30px;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

#logInText {
    color: var(--primary-color)
}

@media only screen and (max-width: 1080px) {
    .aside {
        flex-basis: 20%;
    }
}

@media only screen and (max-width: 840px) {
    .wrapper {
      flex-direction: column;
    }
    .aside {
        height: 10vh;
    }
    img.bg {
        height: 10vh;
    }
    .text-bg {
        padding:5px;
    }
    .main {
        max-width: 100vw;
        padding: 20px;
    }
    h2 {
        padding-right: 50px;
    }
}